/** {
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px 20px 20px 20px;
  background: red;
}

.produto {
  position: relative;
}
.imagem {
  width: 400px;
  height: 400px;
  margin: 20px;
}

.bandeira {
  position: absolute;
  width: 50px;
  bottom: 60px;
  left: 20px;
  border-radius: 0 50px 50px 0;
}

//.frete-azul {
  background-color: blue;
  position: absolute;
  width: 300px;
  height: 40px;
  bottom: 60px;
  left: 65px;
  text-align: center;
  border-radius: 0 50px 50px 0;
  background-image: radial-gradient(circle at 0, transparent 20px)
    radial-gradient(50px) radial-gradient(50px) radial-gradient(50px);
}
.frete {
  position: absolute;
  width: 300px;
  bottom: 70px;
  left: 40px;
  text-align: center;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.produto {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  margin: 20px;
}

.imagem-container {
  position: relative;
}

.imagem {
  width: 100%;
}

.frete-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  background-color: #0057b8;
  border-radius: 0 12px 12px 0;
  padding: 2px 5px 2px 2px;
  color: white;
}

.bandeira {
  width: 20px;
  height: 20px;
  border-radius: 3px 0 0 3px;
}

.frete-azul {
  margin-left: 5px;
  font-size: 10px;
  line-height: 20px;
}

.info {
  padding: 10px;
}

.texto {
  font-size: 14px;
  margin-bottom: 10px;
  height: 40px; /* Ajuste conforme necessário para o tamanho do texto */
  overflow: hidden;
}

.preco {
  font-size: 16px;
  color: #d32f2f;
  font-weight: bold;
}

.quantidade {
  font-size: 12px;
  color: #757575;
}
