* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 800px;
  margin: 20px;
}

.capa {
  position: relative;
}

.imagem {
  display: block;
}
.image {
  width: 100%;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  border-top: 20px;
}

.tempo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.info {
  position: relative;
  padding: 20px;
  width: 2px;
  height: 2px;
}

.titulo {
  padding: 20px;
  width: 600px;
  text-align: right;
  position: absolute;
  padding: 10px;
  bottom: 50px;
  right: 600px;
  font-size: 14px;
  text-align: left;
}

.imagem-redonda {
  padding: 5px;
  width: 70px;
  height: 70px;
  text-align: center;
}

.subtitulo {
    margin-top: 5px;
    font-weight: 400;
    color: gray;
    
}
